$white: #fff;
$blue-light: #6CB5BE;
$teal: #298A91;
$blue: #2A6B7F;
$blue-dark: #344B5B;
$tan: #ECE8E7;
$gray: #5C5954;

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1em;
  padding: 1.5rem;
  margin: 0;
  
}

h1,h2,h3,h4,h5 {
  font-family: 'Fjalla One', sans-serif;
  margin-bottom: 1rem;
}

h1 { font-size: 2.25rem }
h2 { font-size: 2rem }
h3 { font-size: 1.75rem }
h4 { font-size: 1.5rem }
h5 { font-size: 1.25rem }

h2 {
  color: $blue-dark;
}

h3 {
  color: $blue;
}

h4 {
  color: $teal;
}

header {
  text-align: center;

  h1 {
    margin: 0 0 0.5rem;
  }
}

.site-title {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

a {
  color: $blue-dark;
  transition: 0.2s ease;

  &:hover {
    color: darken($blue-dark,20%);
  }
}

.a11y-hidden { 
  position: absolute !important;
  height: 1px; width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

header.row {
  padding-bottom: 0;
}

.row {
  padding: 2rem 0;

  &.cond {
    padding: 1rem 0;
  }

  > .inner {
    max-width: 1000px;
    margin: auto;
  }
}

@media all and (min-width: 768px) {
  .cols-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    > div {
      width: 45%;
    }
  }
}

ol.standings {
  list-style: none;
  padding-left: 0;

  li svg {
    display: none;
    margin-right: 0.5rem;
  }

  li[data-place="1"] svg {
    display: inline-block;
    color: gold;
  }

  li[data-place="2"] svg {
    display: inline-block;
    color: silver;
  }

  li[data-place="3"] svg {
    display: inline-block;
    color: #CD7F32;
  }

  .owner-block {
    .avatar {
      margin-left: 0.5rem;
    }
  }
}

.owner-block {
  display: flex;
  align-items: center;

  .avatar {
    border-radius: 50%;
    width: 2rem;
    margin-right: 0.5rem;
  }
}

table.styled {
  width: 100%;

  th {
    text-align: left;
    width: 25%;
    background-color: $gray;
    color: $white;
    border-bottom: 4px solid $teal;
  }
  
  tr:nth-child(even) {
    background-color: $tan;
  }

  th,td {
    padding: 0.5rem;
  }

  &.weekly-reward {
    th:nth-child(1) {
      width: 10%;
    }

    th:nth-child(2),
    th:nth-child(3) {
      width: 35%;
    }

    th:nth-child(4) {
      width: 20%;
    }
  }

  &.rewards-cond {
    th:nth-child(1) {
      width: 10%;
    }

    th:nth-child(2) {
      width: 20%;
    }

    th:nth-child(3) {
      width: 70%;
    }
  }
}

.sm-label {
  display: block;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

#league-header {
  display: flex;
  align-items: center;

  .avatar {
    margin-right: 1rem;
  }
}

#awards {
  h3 {
    span {
      margin-right: 0.5rem;
    }
    
    & + .desc {
      margin-top: -1rem;
      margin-bottom: 1rem;
      color: $gray;
    }
  }
}